/*stile generale*/
:root{
    --bianco: #fff;
    --nero: #333;
    --grigio: #CCC;
    --grigioScuro: #888;
    --blu10: #EFF6FF;/*sfondo chiaro*/
    --blu9: #CAF0F8;
    --blu8: #ADE8F4;
    --blu7: #90E0EF;
    --blu6: #48CAE4;
    --blu5: #00B4D8;
    --blu4: #0096C7;
    --blu3: #0077B6;
    --blu2: #023E8A;
    --blu1: #03045E;/*sondo scuro*/

}

::selection{
    background-color: var(--grigio);
}

body{
    margin: 0;
    text-align: center;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;/*tutto lo schermo*/
    background-color: var(--blu10);
}

main{
    flex: 1;
    margin: 2.5%;
}

h1, h2, h3, h4, h5, h6{
    font-family: serif;
    text-align: center;
}

h1{
    font-size: 2.5em;
    margin-top: 0;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

p, q, address{
    font-family: sans-serif;
    text-align: justify;
    line-height: 1.05em;
    font-size: 1.05em;
}

a{
    font-family: sans-serif;
    text-decoration: none;
    color: var(--nero);
}

ul{
    list-style: none;
}
/*fine stile generale*/

/*inizio stile menù*/
header nav{
    font-family: serif;
    background-color: var(--blu1);
    color: var(--blu5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#menu-toggle, #menu-icon{
    display: none;
}

#menu{
    margin: 0;
    padding: 0;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#menu li{
    flex: 1;
    display: flex;
    justify-content: center;
}

#menu a{
    color: var(--blu5);
    font-weight: bold;
    font-family: serif;
    transition: color 0.3s ease-out;
    padding: 0.5em 1.5em;
    font-size: 1.25em;
}

#menu a:hover{
    color: var(--blu7);
}

.current{
    text-decoration: underline;
}
/*fine stile menù*/

/*inizio stile footer*/
footer{
    padding: 1em;
    background-color: var(--blu1);
    color: var(--blu5);
}

footer::selection{
    background-color: var(--grigioScuro);
}

footer address{
    display: flex;
    justify-content: center;
    font-style: normal;
    margin: 0 4em;
    gap: 5em;
}

footer p{
    text-align: center;
}

footer p a{
    font-style: italic;
    color: var(--blu5);
    transition: color 0.3s ease-out;
}

footer p a:hover{
    color: var(--blu7);
}

footer .material-symbols-outlined{
    vertical-align: middle;
    margin-right: 0.2em;
    font-size: 1.5em;
}
/*fine stile footer*/

/*inizio stile grid layout*/
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
}

.grid img{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.grid .element{
    overflow: hidden;
}
/*fine stile grid layout*/

/*inizio stile area gestione*/
.area-gestione #radio-div{
    display: inline;
    width: 40%;
}

.area-gestione #radio-div input[name="tipo-form"]{
    display: none;
}

.area-gestione #radio-div label{
    width: auto;
    padding: 0.20em 1em;
    cursor: pointer;
    background-color: var(--blu2);
    color: var(--blu6);
    border-radius: 35%;
    border: var(--nero) solid 2px;
    transition: color 0.3s ease-out;
    font-family: sans-serif;
    font-weight: bold;
}

.area-gestione #radio-div label:hover,
.area-gestione #radio-div input[type="radio"]:checked+label{
    background-color: var(--blu5);
    color: var(--blu1);
}

.area-gestione .grid{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1em;
    display: none;
}

.area-gestione .grid .element{
    background-color: var(--blu8);
    border-radius: 10%;
    margin: 0.5em 0;
    padding: 0 1.5em 1em 1.5em;
}

.area-gestione .grid .element #immagini{
    margin-top: 1em;
}

.area-gestione .grid .element #immagini p{
    text-align: center;
}

    /*inizio stile form*/
    form{
        font-family: sans-serif;
    }

    form label{
        font-weight: bold;
        font-size: 1.10em;
        padding-right: 0.25em;
        white-space: nowrap;
        cursor: text;
    }

    form input,
    form select{
        font-size: 1.05em;
        font-family: sans-serif;
    }

    form textarea{
        font-size: 1.05em;
        font-family: sans-serif;
        width: 100%;
        height: 1.20em;
    }

    form input[type=number]{
        width: 3em;
        text-align: center;
    }

    form div{
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    form div:has(input[type="number"]){
        display: block;
    }

    form p{
        text-align: center;
        margin-top: 0;
        min-height: 1.05em;
    }

    form input::placeholder{
        color: var(--grigioScuro);
    }

    form input[type=text]{
        width: 100%;
    }

    form input[type=submit],
    form input::file-selector-button,
    button{
        width: auto;
        padding: 0.20em, 1em;
        font-size: 1em;
        font-family: sans-serif;
        cursor: pointer;
        font-weight: bold;
        background-color: var(--blu2);
        color: var(--blu6);
        border-radius: 35%;
        border: var(--nero) solid 2px;
        transition: color 0.3s ease-out;
    }

    form input[type=submit]:hover,
    form input::file-selector-button:hover,
    button:hover{
        background-color: var(--blu5);
        color: var(--blu1);
    }

    form input:disabled{
        border-color: var(--nero);
    }

    .modifica-form{
        display: none;
        margin-top: 1em;
    }

        /*inizio stile select*/
        select:invalid{
            color: var(--grigioScuro);
        }

        select option{
            color: var(--nero);
        }
        /*fine stile select*/
    /*fine stile form*/

    #aggiungi-tavolo-form div{
        display: block;
    }
/*fine stile area gestione*/

/*inizio stile pagine lista*/
#ricerca-sec{
    display: block;
    width: 55%;
    margin: 0 auto;
}

#ricerca-sec div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

#ricerca-sec label{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.10em;
}

#ricerca-sec input[type=text]{
    font-size: 1.15em;
    width: 100%;
}

.lista-contenuti{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

    /*inizio stile tabella*/
    table{
        width: 100%;
        border-collapse: collapse;
        border: 2px solid var(--nero);
        margin: auto;
        margin-top: 1em;
        font-family: sans-serif;
        grid-column: span 1;
    }

    table th,
    table td{
        border: 2px solid var(--nero);
        padding: 0.2em 0.5em;
    }

    .lista-contenuti table tbody{
        cursor: pointer;
    }

    table th{
        background-color: var(--blu6);
    }

    table tr:nth-child(odd){
        background-color: var(--blu8);
    }

    table tr:nth-child(even){
        background-color: var(--blu7);
    }
    /*fine stile tabella*/

    .lista-contenuti #paginazione{
        text-align: center;
        font-family: sans-serif;
        font-size: 1.05em;
        margin: 1em auto 0 auto;
        grid-column: span 3;
    }

    .lista-contenuti #paginazione .mobile-btn{
        display: none;
    }

    .lista-contenuti .pc-btn{
        width: fit-content;
        margin: auto 10%;
    }

    .lista-contenuti .prec-btn{
        justify-self: end;
    }

    .lista-contenuti .succ-btn{
        justify-self: start;
    }
/*fine stile pagine lista*/

/*inizio stile pagine dettaglio*/
#dettaglio{
    display: flex;
    flex-direction: column;
}

#dettaglio h2,
#dettaglio h3{
    margin-bottom: 0;
}

#dettaglio p{
    text-align: center;
    margin-top: -1em;
    margin-bottom: 0;
}

#dettaglio #classifica{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

/*stiel pagine dettaglio interventi*/
.grid:has(> #scheda){
    align-items: start;
}

#scheda{
    grid-column: span 2;
    text-align: justify;
    font-size: 1.2em;
    vertical-align: top;
}

#scheda ul{
    font-family: sans-serif;
    padding-left: 0;
    margin: 0;
}

#scheda li{
    margin-bottom: 0.75em;
}

#scheda h1{
    font-size: 1.25em;
    font-weight: bold;
    font-family: sans-serif;
    text-align: justify;
}

#scheda span{
    font-weight: bold;
}

    /*inizio stile slider*/
    #slider{
        width: 100%;
        overflow: hidden;
        cursor: w-resize;
    }

    #slider-track{
        display: flex;
        transition: 0.5s ease-out;
    }

    .slide{
        /*per vedere correttamente lo slider anche su firefox*/
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
    }

    #slider .info-text{
        font-size: 1em;
        color: var(--blu3);
        text-align: center;
        margin-top: 0.25em;
    }
    /*fine stile slider*/
/*fine stile pagine dettaglio*/

/*inizio stile pagina home*/
#statistiche-div{
    width: 40%;
    background-color: var(--blu8);
    border-radius: 25%;
    margin: 0.5em auto;
    padding: 0 1.5em 1em 1.5em;
}

#statistiche-div span{
    font-weight: bold;
}

#statistiche-div p{
    text-align: center;
}

#statistiche-div ul{
    font-family: sans-serif;
    padding-left: 0;
}

#statistiche-div ul li{
    margin-bottom: 0.75em;
    font-size: 1.05em;
}
/*fine stile pagina home*/

/*stile alternativo schermi <=1024px*/
@media screen and (max-width: 1024px){
    /*inizio restyling footer*/
    footer address{
        flex-direction: column;
        margin: auto;
        gap: 0;
    }
    /*fine restyling footer*/

    /*inizio restyling pagine dettaglio*/
    #dettaglio #classifica{
        width: 75%;
    }
    /*fine restyling pagine dettaglio*/

    /*inizio restyling pagina home*/
    #statistiche-div{
        width: 60%;
    }
    /*fine restyling pagina home*/
}

/*stile alternativo schermi <=768px*/
@media screen and (max-width: 768px){
    /*inizio restyling menù*/
    #menu-icon{
        display: block;
        font-size: 3em;
        width: 10%;
        margin: 0 5% 0 85%;
        cursor: pointer;
    }

    #menu{
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
    }

    #menu-toggle:checked ~ #menu{
        display: flex;
    }
    /*fine restyling menù*/
    
    /*inizio restyling body*/
    body{
        padding-top: 4em;
    }
    /*fine restyling body*/

    /*inizio restyling area gestione*/
    .area-gestione .grid{
        /*display: flex;*/
        flex-direction: column;
    }

    .area-gestione #radio-div label{
        padding: 0.20em 0.3em;
    }
    /*fine restyling area gestione*/

    /*inizio restyling pagine lista*/
    #ricerca-sec{
        width: 80%;
    }

    #ricerca-sec div label{
        display: none;
    }

    .lista-contenuti{
        display: flex;
        flex-direction: column;
    }

    .lista-contenuti .pc-btn{
        display: none;
    }

    .lista-contenuti #paginazione{
        display: flex;
    }

    .lista-contenuti #paginazione span{
        margin-top: 5%;
    }

    .lista-contenuti #paginazione .mobile-btn{
        display: block;
    }

    table{
        width: 80%;
    }
    /*fine restyling pagine lista*/

    /*inizio restyling pagine dettaglio*/
    #dettaglio #classifica{
        width: 85%;
    }
    /*fine restyling pagine dettaglio*/

    /*inizio restyling pagina dettaglio interventi*/
    .grid:has(> #scheda){
        display: flex;
        flex-direction: column;
    }

    .grid:has(> #scheda) #immagini{
        margin: auto;
    }

    #scheda{
        margin-top: 1em;
        width: 100%;
    }

    #scheda h1{
        text-align: center;
    }
    /*fine restyling pagine dettaglio interventi*/

    /*inizio restyling pagina home*/
    #statistiche-div{
        width: 80%;
    }
    /*fine restyling pagina home*/
}